.Container {
    height: 100vh;
    padding: 50px;
}

.InnerContainer {

    height: 80%;
}

.HeaderContainer {
    text-align: left;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px;
    width: 100%;
}

.gridWidth{
    width: 100%;
}

.floatRight{
    float: right;
    margin-top: -7px;
    height: inherit;
}

.centerAlign{
    align-items: center;
}
/* .MuiDataGrid-colCellTitle {
    display: block;
    text-align:center;
    width: 100%;
  }
  .MuiDataGrid-cell--textLeft{
    text-align:center;
    width: 100%;
    background-color: blue;
  }
   */