.header {
    background-color: #FAF9F6;
    height: 100px;
    border-bottom: blue;
    border-width: 1px;
}

.floatLeft {
    float: left;
    height: 100px;

}

.floatRight {
    float: right;
    height: 100px;
}
.listItemColor{
background-color: lightgray;
}
.listItemSelectedColor{
    background-color: gray;
}