.header{
    background-color: #FAF9F6;
    height: 100px;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: gray;
    border-width: 1px;
}